*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fb5284f7872e44c6a71eb2d8cad17304.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
    margin-left: 20px;
    filter: invert(1);
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0;
    top: 100px;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.activa, .nav-menu li a:hover{
    color: red;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ⁓ .nav-menu{
    height: 100vh;
}

#check:checked ⁓ .nav-menu li{
    display: block;
}

@media screen and (min-width: 768px){
    
    .logo{
        margin-left: 50px;
    }
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a{
        font-size: 12px;
    }
}
.banner-text{
    padding: 0 30px;
    margin-top: 240px;
    text-align: center;
    color: white;
}
.banner-text h2{
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}
main{
    background-image: url(../img/paisaje4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 70px;
    align-items: center;
    padding: 10px;
}
.foot{
    display: flex;
align-items: center;
color: black;
}
.foot img{
    height: 50px;
    margin-right: 10px;
}

.grid-cotainer{
    background-color: rgba(0, 0, 0, 0.74);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 12px;
    padding: 10px;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
h2{
    color: black;
    text-align: center;
    padding: 20px;
}
img{
    width: 250px;
    border: double 2px white;
    border-radius: 10px;
    
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 70px;
    padding: 20px;
}
.foot{
    display: flex;
align-items: center;
}
.foot img{
    width: 70px;
    height: 50px;
    margin-right: 10px;
}